<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.healthtrack.mapper.UserMapper">
    <select id="getMaxUserId" resultType="Long">
        SELECT MAX(user_id) FROM user
    </select>
    <select id="findByEmail" resultType="com.example.healthtrack.model.User">
        SELECT * FROM user WHERE email = #{email}
    </select>
    <insert id="insertUser" parameterType="com.example.healthtrack.model.User">
        INSERT INTO user (user_id, name, email, password, weight, s_id) VALUES (#{userId}, #{name}, #{email}, #{password}, #{weight}, #{sId})
    </insert>
    <select id="checkEmailContains" resultType="boolean">
        SELECT EXISTS(SELECT * FROM user WHERE email = #{email})
    </select>
</mapper>
